@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
div {
  font-family: "Montserrat", sans-serif;
}
.App {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  padding-top: 1rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: 1000;
  color: #36aeff;
  /* color: #0099ff; */
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.user {
  /* margin-top: 1rem; */
  margin-right: 3rem;
  font-size: 2vw;
  background-color: #c1e6ff;
  border-radius: 2rem;
  padding: 0 0 0 1rem;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.input {
  padding: 0 0 0 1rem;
  border: none;
  border-radius: 2rem 0 0 2rem;
  height: 3rem;
  width: 60vw;
  background-color: #c1e6ff;
}

.input:focus {
  /* outline: none; */
  outline-color: #0099ff3f;
}
.input-misc {
  height: 4rem;
  font-size: 2rem;
  width: 50vw;
  border-radius: 2rem;
}
.input-button-misc {
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  width: 25vw;
  background-color: #36aeff;
}
form {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-button {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 0 2rem 2rem 0;
  height: 3rem;
  width: 5vw;
  background-color: #36aeff;
}
.item-button {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0 1rem 1rem 0;
  /* height: 3rem; */
  width: 5vw;
  background-color: #36aeff;
}
.list-container {
  margin: 0 0.5rem 0 0.5rem;
  gap: 1rem;
  height: 65vh;
  border-radius: 2rem 2rem 0 0;
  background-color: #f1faff;
  padding: 2rem;
  border: 1px solid #36aeff;
}
.list-container-misc {
  margin-top: 1rem;
  height: 78.7vh !important;
}

.list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.item {
  /* height: 1rem; */
  width: 90%;
  padding: 1rem;
  background-color: #c1e6ff;
  border-radius: 1rem 0 0 1rem;
}
