@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Dark {
  background-color: var(--darkc1) !important;
  color: whitesmoke !important;
}

.Light {
  background-color: var(--lightc1) !important;
  color: black !important;
}

.Light2 {
  background-color: white !important;
  color: black !important;
}

.Light3 {
  background-color: var(--lightc2) !important;
  color: black !important;
}

.Light4 {
  background-color: var(--lightc3) !important;
  color: black !important;
}

.Light5 {
  background-color: var(--lightc3) !important;
  color: white !important;
}


:root {
  /* --test: #36aeff; */
  /* --highlight: #0098ff; */
  --highlight: #006797;
  --darkc1: #001018;
  --darkc2: #00334d;
  --lightc1: #d0efff;
  --lightc2: #8ed9ff;
  --lightc3: #24b9ff;
  --toastify-color-dark: #001018;
}

div {
  font-family: "Montserrat", sans-serif;
}

.App {
  overflow: hidden;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 2vw;
  color: white;
  background-color: var(--darkc1);
  /* border: 2px solid #36aeff; */
  border: 2px solid var(--highlight);
  border-width: 2px 2px 2px 0;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 2rem 0.9rem 3rem;
  margin-top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.user {
  margin-right: 3rem;
  font-size: 2vw;
  background-color: var(--darkc1);
  border: 2px solid var(--highlight);

  color: #fff;
  border-radius: 2rem;
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.trash {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkc2);
  color: whitesmoke;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  gap: 0.5rem;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input {
  color: white;
  padding: 0 1rem 0 1rem;
  border: none;
  border-radius: 2rem 0 0 2rem;
  height: 3rem;
  width: 60vw;
  background-color: var(--darkc1);
  outline: 2px solid var(--highlight);
}

.input:focus {
  outline: 3px solid var(--highlight);
  /* outline-color: var(--highlight); */
}

.input-misc {
  background-color: var(--darkc2);
  outline: none;
  height: 4rem;
  font-size: 2vw;
  width: 50vw;
  border-radius: 2rem;
}

.input-button-misc {
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 2rem;
  height: 3rem;
  width: 25vw;
  background-color: var(--highlight);
}

form {
  /* padding-top: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-button {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 0 2rem 2rem 0;
  height: 3rem;
  width: 5vw;
  background-color: var(--highlight);
  outline: 2px solid var(--highlight);
}

.input-button-modal {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 1rem;
  /* height: 3rem; */
  width: 5vw;
  background-color: var(--highlight);
  outline: 2px solid var(--highlight);
}

.item-button {
  cursor: pointer;
  color: whitesmoke;
  border: none;
  border-radius: 0 1rem 1rem 0;
  /* height: 3rem; */
  width: 5vw;
  background-color: var(--highlight);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  padding: 0 4px;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  background-color: var(--highlight);
  background-clip: padding-box;
  border-radius: 100px;
}

.list-container {
  margin: 0 0.5rem 0 0.5rem;
  gap: 1rem;
  /* min-height: 65vh; */
  height: 65vh;
  overflow: overlay;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--darkc1);
  padding: 2rem 2rem 2rem 2rem;
  border: 2px solid var(--highlight);
  border-width: 2px 2px 0 2px;
}

.list-container-misc {
  margin-top: 2rem;
  height: 79vh;
  /* max-height: 76.6vh; */
}

.list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.item {
  color: white;
  width: 90%;
  padding: 1rem;
  background-color: var(--darkc2);
  border-radius: 1rem 0 0 1rem;
}

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid var(--highlight);
  background-color: var(--darkc1);
  padding: 2rem;
}

.modal-button {
  display: flex;
  gap: 1rem;
}

.modal-text {
  color: white;
  font-size: 1.5rem;
}

.item-button-misc {
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0 1rem 1rem 0;
  /* height: 3rem; */
  width: 5vw;
  background-color: var(--highlight);
}

.empty-item {
  height: 100%;
  gap: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-weight: 600;
  color: var(--darkc2);
}