@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: black;
  color: whitesmoke;
  --toastify-color-dark: #001018;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}